.answerBox {
  border: 1px solid blue;
  border-radius: 14px;
}

.title {
  font-size: 1.5rem;
}

.response {
  color: darkslategray;
  font-size: 1rem;
}

.inputBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  min-height: 150px;
  resize: vertical;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #544d45;
  border-radius: 8px;
  outline: none;
}
