.logTable {
  width: 75%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logTable th {
  background-color: #f0f4f3;
  color: #516564;
  font-weight: 600;
  padding: 1rem;
  border: 1px solid #d0d0d0;
}

.logTable td {
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  padding: 1rem;
  vertical-align: top;
}

.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #516564;
  font-weight: 500;
}

.tableWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.2rem;
}

.promptColumn {
  width: 200px;
  word-break: break-word;
}
