.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.welcome {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #516564;
}

.userName,
.password {
  padding: 0.5rem;
  margin: 0.5rem 0;
  width: 300px;
  margin-right: 15px;
}

.btns {
  padding: 0.5rem;
  margin: 0.5rem 0;
  width: 100%;
  max-width: 80px;
  border-radius: 14px;
  color: #c86c4c;
}

.text {
  margin-top: 1rem;
  font-size: 1rem;
  color: #516564;
  margin: 0;
}

routeSwitch {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
  gap: 0.5rem;
}

.switchBtn {
  padding: 0.3rem 0.8rem;
  border-radius: 10px;
  font-size: 0.9rem;
  cursor: pointer;
}

.btns:hover,
.btns:focus {
  background-color: #a9573c;
  color: #3e332e;
  border-color: #5e767a;
  text-decoration: none;
  outline: none;
}
